# Ignore Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
env/
venv/

# Ignore migrations except __init__.py
*/migrations/*
!*/migrations/__init__.py

db.sqlite3
/media/

# Virtual environment
venv/
.env/

# IDE files
*.vscode/
*.idea/

# Ignore IDE/project-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
*.out

# Ignore compiled code and unnecessary artifacts
*.so
*.egg
*.egg-info/
dist/
build/

# text file
.txt

*.pyc
__pycache__/